<div class="main-menu js-main-menu">
    <div class="main-menu__header">
        <div class="main-menu__header__col">
            {% include 'blocks/switch-input/main.html' %}
        </div>
        <div class="main-menu__header__col">
            <i class="close-main-menu js-close-main-menu"></i>
        </div>
    </div>
    <ul class="main-menu__ul">
        <li class="main-menu__item {% if data.route == '' %}active{% endif %}"><a href="/">Home</a></li>
        {% for menuItem in data.pages %}
            {% if menuItem.available_in_menu == 1 %}
                <li class="main-menu__item {% if data.route == menuItem.alias%}active{% endif %}"><a href="/{{ menuItem.alias }}">{{ menuItem.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
     <div class="main-menu__footer">
        <li class="main-menu__item">
            {% if data.login and data.login | length > 0 %}
            <a href="/lk">
                <img src="{{ data.login.avatar }}" class="header__avatar">
                {{ data.login.name }}
            </a>
            {% else %}
                <a href="/auth">Login</a>
            {% endif %}
        </li>
    </div>
</div>