{% block header %}
    {% include 'header.html' %}
    {% include 'main-menu.html' %}
{% endblock %}

<div class="l-window js-l-window {{ data.route[0] }}">
    {% include 'topline.html' %}

    {% block content %}
        <div class="all-site__wrapper">
            {# include 'blocks/filters/main.html' #}
            {% for site in data.all_sites %}
                <div class="content__col">
                    {% include 'blocks/items/item-medium/main.html' with { item: site, user: data.login} %}
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    <script type="text/javascript" src="js/build/all-site/all-site.js"></script>
</div>