{% extends 'layout/_base.html' %}

{% block content %}

    {% include 'blocks/main-block/main.html' with {item: data.main_site, user: data.login } %}
    <div class="content">
        <div class="content__wrapper">
            <div class="content__head">
                <div class="content__head__col">
                    <span class="content__head__sort__name"><a href="/all-site">Last sites</a></span>
                </div>
                <div class="content__head__col"></div>
            </div>
            <div class="content__grid">
                <div class="content__body">
                    {% for item in data.all_sites %}
                        {% if loop.index < 5 %}
                            <div class="content__col">
                                {% include 'blocks/items/item-medium/main.html' with { item: item } %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block popup %}
    <div class="popup js-popup" id="add-opinion">
        <div class="popup__title">Add opinion</div>
        <div class="popup__body">
            <div class="popup__text">
                Hi, you can just like this site ...
            </div>
            <div class="popup__like"></div>
            <div class="popup__text">
                but I'll be very gifted for a more detailed review.
            </div>
            <div class="popup__raiting">
                <div class="popup__raiting__item popup__raiting__item_design">
                    <div class="popup__raiting__title">Design</div>
                    <div class="js-raiting-item"></div>
                </div>
                <div class="popup__raiting__item popup__raiting__item_usability">
                    <div class="popup__raiting__title">Usability</div>
                    <div class="js-raiting-item"></div>
                </div>
                <div class="popup__raiting__item popup__raiting__item_creativity">
                    <div class="popup__raiting__title">Creativity</div>
                    <div class="js-raiting-item"></div>
                </div>
                <div class="popup__raiting__item popup__raiting__item_speed">
                    <div class="popup__raiting__title">Speed</div>
                    <div class="js-raiting-item"></div>
                </div>
            </div>
            <div class="popup__opinion">
                <textarea class="popup__textarea" placeholder="Write your review here"></textarea>
            </div>
        </div>
        <div class="popup__submit">Send</div>
        <div class="popup__close"></div>
    </div>
{% endblock %}