{% extends 'layout/_base.html' %}

{% block content %}
    <!-- <div class="sites__main-img" style="background-image: url({{ data.big_img_file }})"></div> -->
    {% include 'blocks/main-block/site.html' with {cssClass: 'light', item: data.site } %}
    <div class="sites__wrapper">
        <h2 class="sites__title">{{ data.site.name }}</h2>
        <div class="sites__body">
            {% if data.site.create_template == 1 %}
                {% include 'site-blocks/' ~ data.site.alias ~ '/main.html' %}
            {% else %}
                <div class="article">
                    {{ data.site.content  | replace({'/~/': ''}) | raw }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
