{% extends 'layout/_base.html' %}

{% block topline %}{% endblock %}

{% block content %}
<div class="auth">
    <div class="auth__window">
        <a href="/" class="auth__cansel"></a>
        <div class="auth__title">Sign Up</div>
        {# <pre>{{ dump(data.auth_href) }}</pre> #}
        <div class="auth__buttons">
            <a href="{{ data.auth_href.vk }}" class="auth__button auth__button_vk">Vkontakte</a>
            <a href="{{ data.auth_href.facebook }}" class="auth__button auth__button_fb">Facebook</a>
            <a href="{{ data.auth_href.google }}" class="auth__button auth__button_g-plus">Google +</a>
        </div>
    </div>
</div>

{% endblock %}