{% extends 'layout/_base.html' %}

{% block content %}
    {# <pre>{{ dump(data.login) }}</pre> #}
    <div class="lk">
        <div class="lk__section">
            <div class="lk__section__title">Personal info</div>
            <div class="lk__col-left">
                <div class="lk__img">
                    <img src="{{ data.login.avatar is empty  ? '/images/no_ava.svg' : data.login.avatar  }}" class="lk__img__image">
                </div>
                <div class="lk__button lk__button_edit">Edit</div>
                <a href="/auth/logout" class="lk__button lk__button_exit">Exit</a>
            </div>
            <div class="lk__col-main">
                <div class="lk__col-main__inner">
                    <div class="lk__col-center">
                        <div class="lk__col-center__inner">
                            <div class="lk__row">
                                <div class="lk__row__col">
                                    Name
                                </div>
                                <div class="lk__row__col">
                                    <div class="lk-name">{{ data.login.name }}</div>
                                </div>
                            </div>
                            {% if data.login.birthday %}
                                <div class="lk__row">
                                    <div class="lk__row__col">
                                        Birthday
                                    </div>
                                    <div class="lk__row__col">
                                        <div class="lk-birthday">{{ data.login.birthday }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if data.login.city %}
                                <div class="lk__row">
                                    <div class="lk__row__col">
                                        City
                                    </div>
                                    <div class="lk__row__col">
                                        <div class="lk-birthday">{{ data.login.city }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if data.login.country %}
                                <div class="lk__row">
                                    <div class="lk__row__col">
                                        Country
                                    </div>
                                    <div class="lk__row__col">
                                        <div class="lk-birthday">{{ data.login.country }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="lk__col-right">
                        <div class="lk__soc">
                            <div class="lk__soc__link">
                                <a href="{{ data.login.socialPage }}" target="_blank">{{ data.login.socialPage }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# <pre>{{ dump(data.likes) }}</pre> #}
        <div class="lk__section">
            <div class="lk__section__title">Liked sites</div>
            <div class="lk__table">
                {% for like in data.likes %}
                    <div class="lk__table__row">
                        <a href="/site/{{ like.alias }}" class="lk__table__link"></a>
                        <div class="lk__table__td lk__table__td_img">
                            <img src="{{ like.small_img_file }}">
                        </div>
                        <div class="lk__table__td  lk__table__td_name">{{ like.name | capitalize }}</div>
                        <div class="lk__table__td  lk__table__td_raiting">
                            <div class="lk__raiting__item">
                                <div class="lk__raiting__circle js-circle-progress">
                                    <div class="chart graph" data-percent="{{ like.design_raiting }}" data-size="35" data-line="3" data-colorOut="rgba(220,55,184, 0.3)" data-colorLine="rgba(220,55,184, 1)"></div>
                                </div>
                            </div>
                            <div class="lk__raiting__item">
                                <div class="lk__raiting__circle js-circle-progress">
                                    <div class="chart graph" data-percent="{{ like.usability_raiting }}" data-size="35" data-line="3" data-colorOut="rgba(237,0,47, 0.3)" data-colorLine="rgba(237,0,47, 1)"></div>
                                </div>
                            </div>
                            <div class="lk__raiting__item">
                                <div class="lk__raiting__circle js-circle-progress">
                                    <div class="chart graph" data-percent="{{ like.creativity_raiting }}" data-size="35" data-line="3" data-colorOut="rgba(72,221,0, 0.3)" data-colorLine="rgba(72,221,0, 1)"></div>
                                </div>
                            </div>
                            <div class="lk__raiting__item">
                                <div class="lk__raiting__circle js-circle-progress">
                                    <div class="chart graph" data-percent="{{ like.speed_raiting }}" data-size="35" data-line="3" data-colorOut="rgba(186,243,0, 0.3)" data-colorLine="rgba(186,243,0, 1)"></div>
                                </div>
                            </div>
                        </div>
                        <div class="lk__table__td  lk__table__td_like">
                            {% if like.is_like == '1' %}<span class="lk__table__like"></span>{% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {# <pre>{{ dump(data.likes) }}</pre> #}
    </div>
{% endblock %}
