{% extends 'layout.html' %}

{% block pageTitle %}Add new page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2>Add new page</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="name">Page name</label>
                <input value="" type="text" class="form-control" name="name" id="name" placeholder="Page name">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="alias">Page alias</label>
                <input value="" type="text" class="form-control" name="alias" id="alias" placeholder="Page alias">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="template">Page template</label>
                <select class="form-control" name="template" id="template" placeholder="Site template" required>
                    {# for type in data.site_types #}
                        <option>sdfsdfsd{# type #}</option>
                        <option>sdfsdqqw{# type #}</option>
                        <option>123123{# type #}</option>
                        <option>aaaa{# type #}</option>
                        <option>sssss{# type #}</option>
                    {# endfor #}
                </select>
            </div>
        </div>
    </div>
{% endblock %}