/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* Basic & Colors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff url('../img/bg.png') no-repeat top center;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  color: #979797;
  line-height: 1;
}
.clear:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}
a {
  color: #0565c9;
  text-decoration: none;
}
a:hover {
  color: #323b47;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  color: #323b47;
  font-weight: 600;
  font-family: 'Gotham Pro', Arial, sans-serif;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
.marker {
  position: relative;
}
.marker:before {
  content: '';
  position: absolute;
  height: 12px;
  width: 104%;
  background-color: #ffdf37;
  z-index: -1;
  bottom: 4px;
}
h2 .marker:before {
  height: 9px;
  width: 100%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/* Animations */
a,
li,
span,
label,
.button:after,
input {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
/* Grid */
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row .col-2,
.row .col-3,
.row .col-4,
.row .col-5,
.row .col-6,
.row .col-7,
.row .col-8,
.row .col-12,
.row .col-1-5 {
  float: left;
  padding: 0 10px;
  position: relative;
}
.row .col-2 {
  width: 16.6666%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.3333%;
}
.row .col-5 {
  width: 42%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58%;
}
.row .col-8 {
  width: 66.6666%;
}
.row .col-12 {
  width: 100%;
}
.row .col-1-5 {
  width: 20%;
}
/* Buttons */
.button {
  color: #ffffff;
  display: inline-block;
  padding: 0 30px;
  height: 48px;
  line-height: 48px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Gotham Pro', Arial, sans-serif;
  position: relative;
}
.button.light-blue {
  color: #0565c9;
  background-color: #f1f7fb;
}
.button.light-blue:hover {
  background-color: #0565c9;
  color: #ffffff;
}
.button.yellow {
  color: #0565c9;
  background-color: #ffdf37;
}
.button.border {
  border: 3px solid #0565c9;
  color: #0565c9;
  line-height: 54px !important;
  background-color: #ffffff;
}
.button.border:hover {
  background-color: #0565c9;
  border-color: #0565c9;
  color: #ffffff;
}
.button.border:hover:after {
  right: -40px;
}
.button.arrow:after {
  display: block;
  content: '';
  width: 34px;
  height: 16px;
  background-image: url('../img/icon-arrow.svg');
  position: absolute;
  right: -18px;
  top: 50%;
  margin-top: -8px;
}
.button.arrow:hover {
  background-color: #0565c9;
  border-color: #0565c9;
  color: #ffffff;
}
.button.arrow:hover:after {
  right: -40px;
}
.button.big {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 14px;
  padding: 0 50px;
}
/* Layouts */
.container {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
}
.header {
  padding-top: 50px;
}
.header .phone {
  line-height: 48px;
  margin-right: 40px;
  font-family: 'Gotham Pro', Arial, sans-serif;
  color: #323b47;
  font-size: 12px;
}
.header .phone span {
  font-weight: 600;
}
.header .pull-right {
  margin-top: 8px;
}
.banner {
  padding: 100px 0 140px 0;
  text-align: center;
}
.banner h1 {
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
  padding: 0 45px;
}
.banner h1:before {
  content: '';
  width: 64px;
  height: 5px;
  position: absolute;
  background-color: #0565c9;
  left: 0;
  bottom: -40px;
}
.banner h1:after {
  content: '';
  height: 32px;
  width: 5px;
  position: absolute;
  background-color: #0565c9;
  left: 0;
  bottom: -40px;
}
.banner h1 i:before {
  content: '';
  width: 80px;
  height: 5px;
  position: absolute;
  background-color: #0565c9;
  right: 0;
  top: -35px;
}
.banner h1 i:after {
  content: '';
  height: 32px;
  width: 5px;
  position: absolute;
  background-color: #0565c9;
  right: 0;
  top: -35px;
}
.banner h4 {
  margin-bottom: 70px;
}
.about {
  margin-bottom: 70px;
  position: relative;
}
.about h3 {
  margin-bottom: 30px;
}
.about p {
  line-height: 1.86;
  margin-bottom: 30px;
}
.about .pull-right {
  position: relative;
  margin-right: 50px;
}
.about .pull-right .name {
  color: #0565c9;
  font-family: 'Gotham Pro', Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 4px;
}
.about .pull-right .position {
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
}
.about .pull-right:before {
  content: '';
  background-image: url('../img/icon-quote.svg');
  width: 22px;
  height: 19px;
  left: -40px;
  top: -10px;
  display: block;
  position: absolute;
}
.about .col-5 {
  padding-left: 0;
}
.about .col-5 img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: -50px;
}
.features {
  margin-bottom: 130px;
}
.features .item {
  padding: 10px 50px 0 80px;
  margin-bottom: 35px;
  background-position: 10px 0;
  background-repeat: no-repeat;
  position: relative;
}
.features .item h4 {
  margin-bottom: 15px;
}
.features .item p {
  line-height: 1.86;
}
.features .item.item-1 {
  background-image: url('../img/icon-1.png');
}
.features .item.item-2 {
  background-image: url('../img/icon-2.png');
}
.features .item.item-3 {
  background-image: url('../img/icon-3.png');
}
.features .item:last-child {
  margin-bottom: 0;
}
.features .col-5 {
  padding-left: 0;
}
.features .col-5 img {
  position: relative;
  top: -10px;
  width: 100%;
  height: auto;
}
.call {
  position: relative;
  margin-bottom: 130px;
}
.call .clear {
  margin: 0 45px;
  background-color: #f1f7fb;
  color: #0565c9;
  font-family: 'Gotham Pro', Arial, sans-serif;
  padding: 32px 64px;
}
.call .clear p {
  font-size: 18px;
  line-height: 1.37;
  margin-top: 4px;
}
.call .clear p span {
  font-size: 22px;
  font-weight: 600;
}
.call .pull-left:before {
  content: '';
  width: 176px;
  height: 5px;
  position: absolute;
  background-color: #0565c9;
  left: 0;
  bottom: -40px;
}
.call .pull-left:after {
  content: '';
  height: 80px;
  width: 5px;
  position: absolute;
  background-color: #0565c9;
  left: 0;
  bottom: -40px;
}
.call .pull-right:before {
  content: '';
  width: 182px;
  height: 5px;
  position: absolute;
  background-color: #ffdf37;
  right: 0;
  top: -40px;
}
.call .pull-right:after {
  content: '';
  height: 45px;
  width: 5px;
  position: absolute;
  background-color: #ffdf37;
  right: 0;
  top: -40px;
}
.faq {
  position: relative;
  margin-bottom: 120px;
}
.faq h2 {
  margin-bottom: 70px;
}
.faq .button {
  position: absolute;
  right: 0;
  top: -10px;
}
.faq .button:before {
  content: '+';
  margin-right: 20px;
}
.faq .item {
  margin-bottom: 20px;
  padding-left: 28px;
}
.faq .item:last-child {
  margin-bottom: 0;
}
.faq .item h4 {
  position: relative;
  cursor: pointer;
}
.faq .item h4:before {
  content: '';
  display: block;
  width: 9px;
  height: 15px;
  background-image: url('../img/icon-arrow-2.svg');
  left: -28px;
  top: 2px;
  position: absolute;
}
.faq .item p {
  display: none;
  line-height: 2;
  margin-top: 20px;
}
.faq .item.active h4:before {
  transform: rotate(90deg);
}
.faq .item.active p {
  display: block;
}
.staff {
  margin-bottom: 80px;
}
.staff h2 {
  margin-bottom: 70px;
}
.staff .col-1-5 {
  text-align: center;
  position: relative;
}
.staff .col-1-5 .img {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.staff .col-1-5 .img img {
  display: block;
}
.staff .col-1-5 .img:before,
.staff .col-1-5 .img:after {
  position: absolute;
  content: '';
  background-color: #B4D1EF;
}
.staff .col-1-5 .img:before {
  height: 3px;
}
.staff .col-1-5 .img:after {
  width: 3px;
}
.staff .col-1-5 .img.item-1:before {
  width: 50px;
  bottom: -8px;
  right: -8px;
}
.staff .col-1-5 .img.item-1:after {
  height: 50px;
  bottom: -8px;
  right: -8px;
}
.staff .col-1-5 .img.item-2:before {
  width: 50px;
  bottom: -8px;
  left: -8px;
}
.staff .col-1-5 .img.item-2:after {
  height: 20px;
  bottom: -8px;
  left: -8px;
}
.staff .col-1-5 .img.item-3:before {
  width: 36px;
  top: -8px;
  right: -8px;
}
.staff .col-1-5 .img.item-3:after {
  height: 50px;
  top: -8px;
  right: -8px;
}
.staff .col-1-5 .img.item-4:before {
  width: 50px;
  bottom: -8px;
  right: -8px;
}
.staff .col-1-5 .img.item-4:after {
  height: 50px;
  bottom: -8px;
  right: -8px;
}
.staff .col-1-5 .img.item-5:before {
  width: 10px;
  top: -8px;
  left: -8px;
}
.staff .col-1-5 .img.item-5:after {
  height: 50px;
  top: -8px;
  left: -8px;
}
.staff .col-1-5 .name {
  font-size: 16px;
  font-family: 'Gotham Pro', Arial, sans-serif;
  margin-bottom: 5px;
  font-weight: bold;
  color: #323b47;
}
.footer {
  height: 52px;
  line-height: 52px;
  margin-bottom: 70px;
  font-family: 'Gotham Pro', Arial, sans-serif;
  font-size: 12px;
}
.footer a {
  color: #979797;
}
.footer a:hover {
  color: #0565c9;
}
.footer .logo {
  text-transform: uppercase;
  font-weight: bold;
}
.footer .rights {
  position: relative;
  margin-left: 30px;
  padding-left: 30px;
  text-transform: uppercase;
}
.footer .rights:before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #E3E4E6;
  left: 0;
  top: 0;
  position: absolute;
}
.footer .login {
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.footer .phone {
  margin-right: 70px;
}
.footer .phone span {
  font-weight: 600;
}
/* Forms */
.form .field {
  margin-bottom: 30px;
  position: relative;
}
.form .field input,
.form .field textarea {
  display: block;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  color: #ffffff;
  font-family: 'Roboto', Arial, sans-serif;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
}
.form .field input:focus,
.form .field textarea:focus {
  outline: none;
}
.form .field input:focus ~ label,
.form .field textarea:focus ~ label,
.form .field input:valid ~ label,
.form .field textarea:valid ~ label {
  top: -15px;
  font-size: 10px;
  font-weight: normal;
}
.form .field input:invalid,
.form .field textarea:invalid {
  box-shadow: none;
}
.form .field textarea {
  resize: none;
  height: 80px;
}
.form .field label {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 5px;
  opacity: 0.4;
}
.form .error {
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 5px 5px 5px 20px;
  top: -16px;
}
.form .error:before {
  content: '!';
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 3px;
}
.form .buttons a {
  display: block;
}
.form .buttons a:hover {
  opacity: 0.8;
}
.form > a {
  font-size: 12px;
  text-decoration: underline;
  margin-top: 15px;
  display: inline-block;
  color: #ffffff;
}
.webui-popover-inverse {
  background-color: #0565c9;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 0px 24px 155px 0px rgba(0, 0, 0, 0.1) !important;
}
.webui-popover-inverse .webui-popover-content {
  padding: 30px 40px;
}
.slick-slider .slick-dots {
  text-align: center;
  margin-top: 30px;
}
.slick-slider .slick-dots li {
  display: inline-block;
}
.slick-slider .slick-dots li button {
  text-indent: -9999px;
  border: none;
  width: 32px;
  height: 3px;
  opacity: 0.2;
  background-color: #0565c9;
  margin: 0 3px;
}
.slick-slider .slick-dots li.slick-active button {
  opacity: 0.8;
}
.slick-slider .slick-list {
  padding-top: 10px;
}
/* Registration */
.page-registration {
  background-image: none;
}
.page-registration .banner {
  padding-bottom: 70px;
}
.page-registration .banner > a {
  margin-top: 40px;
}
.page-registration .info {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
}
.page-registration .info p {
  line-height: 1.75;
  font-size: 16px;
  color: #323b47;
  margin-bottom: 20px;
}
.page-registration .info .phone {
  text-align: center;
  color: #0565c9;
  font-size: 16px;
  margin-bottom: 6px;
}
.page-registration .info .link {
  text-align: center;
}
.page-registration .info .link a {
  font-size: 10px;
  color: #979797;
  text-decoration: underline;
  display: inline-block;
  padding-left: 15px;
  background-image: url('../img/icon-edit.png');
  background-position: left center;
  background-repeat: no-repeat;
}
.page-registration .info .link a:hover {
  color: #0565c9;
}
.page-registration.reason .big-form .col-6:first-child {
  padding-left: 90px;
  padding-right: 90px;
}
.page-registration.reason .big-form .col-6:last-child {
  padding-left: 10px;
  padding-right: 120px;
}
.page-registration.reason .reason-text {
  background-color: #f1f7fb;
  color: #323b47;
  font-weight: 600;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  position: relative;
}
.page-registration.reason .reason-text p:first-child {
  position: absolute;
  opacity: 0.7;
  font-size: 12px;
  left: 20px;
  top: -30px;
  line-height: normal;
  font-weight: normal;
}
.big-form .col-6:first-child {
  padding-left: 160px;
  padding-right: 20px;
}
.big-form .col-6:last-child {
  padding-left: 80px;
  padding-right: 100px;
  margin-bottom: 70px;
}
.big-form .field {
  margin-bottom: 60px;
  position: relative;
}
.big-form .field .error {
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 5px 5px 5px 20px;
  top: 5px;
  color: #323b47;
  line-height: 1.2;
}
.big-form .field .error.red {
  color: #FF6D4B;
  background-color: #FFF8F7;
}
.big-form .field .error:before {
  content: '!';
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 3px;
}
.big-form .field.field-input input {
  display: block;
  border: none;
  border: 1px solid #D0D7DD;
  font-family: 'Roboto', Arial, sans-serif;
  width: 100%;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  color: #323b47;
  height: 60px;
  padding: 10px 20px 0 20px;
}
.big-form .field.field-input input:focus {
  outline: none;
  border-color: #C0C5C9;
}
.big-form .field.field-input input:hover {
  color: #0565c9;
  border-color: #0565c9;
}
.big-form .field.field-input input:focus ~ label,
.big-form .field.field-input input:valid ~ label {
  top: 8px;
  font-size: 10px;
  color: #909398;
  font-weight: normal;
}
.big-form .field.field-input input:invalid {
  box-shadow: none;
}
.big-form .field.field-input label {
  font-size: 16px;
  font-weight: 600;
  color: #999EA3;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 22px;
}
.big-form .field.field-input.error input {
  border-color: #FF6D4B;
  color: #FF6D4B;
}
.big-form .field.field-input.error label {
  color: #FF6D4B !important;
  opacity: 0.7;
}
.big-form .field.field-select {
  margin-bottom: 60px;
  height: 60px;
}
.big-form .field.field-select .nice-select {
  display: block;
  border: none;
  border: 1px solid #D0D7DD;
  border-radius: 0;
  font-family: 'Roboto', Arial, sans-serif;
  width: 100%;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  color: #323b47;
  height: 60px;
  padding: 14px 20px 0 20px;
}
.big-form .field.field-select .nice-select:after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #0565c9;
  border-right: 2px solid #0565c9;
  right: 18px;
  margin-top: -6px;
}
.big-form .field.field-select .nice-select.open {
  border-color: #0565c9;
}
.big-form .field.field-select .nice-select .list {
  margin-top: 0;
  width: 100%;
  border-color: #0565c9;
  border-radius: 0;
  box-shadow: 0 0 0 1px #0565c9;
  z-index: 30;
}
.big-form .field.field-select .nice-select .option {
  line-height: 60px;
  color: #979797;
}
.big-form .field.field-select .nice-select .option.selected,
.big-form .field.field-select .nice-select .option.focus {
  color: #ffffff;
  background-color: #0565c9;
}
.big-form .field.field-select .nice-select:hover {
  border-color: #0565c9;
}
.big-form .field.field-select .nice-select:hover .current {
  color: #0565c9;
}
.big-form .field.field-select label {
  top: 8px;
  font-size: 10px;
  color: #909398;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 20px;
}
.big-form .field-group {
  margin-bottom: 35px;
}
.big-form .field-group .label {
  color: #323b47;
  margin-bottom: 20px;
}
.big-form .field-group .field {
  width: 50%;
  float: left;
  margin-bottom: 0;
}
.big-form .field-checkbox input {
  display: none;
}
.big-form .field-checkbox input + label {
  font-weight: normal;
  padding-left: 30px;
  font-size: 16px;
}
.big-form .field-checkbox input + label:before {
  top: -4px;
  display: inline-block;
  position: absolute;
  left: 0px;
  border: 1px solid #D0D7DD;
  background-color: #ffffff;
  width: 22px;
  height: 22px;
  content: '';
}
.big-form .field-checkbox input:checked + label:before {
  display: block;
  position: absolute;
  z-index: 10;
  color: #0565c9;
  border: 2px solid #0565c9;
  width: 20px;
  height: 20px;
}
.big-form .field-checkbox input:checked + label {
  color: #0565c9;
  font-weight: bold;
}
.big-form .field-checkbox input:checked + label:after {
  border-bottom: 2px solid #0565c9;
  border-right: 2px solid #0565c9;
  content: '';
  display: block;
  height: 11px;
  margin-top: -8px;
  pointer-events: none;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: rotate(45deg);
  transform-origin: 66% 66% 0;
  transition: all 0.15s ease-in-out 0s;
  width: 5px;
  z-index: 20;
}
.big-form .works {
  display: block;
  background-color: #0565c9;
  color: #ffffff;
  padding: 10px 20px 0 20px;
  height: 60px;
  font-weight: bold;
  font-family: 'Gotham Pro', Arial, sans-serif;
  line-height: 1.36;
  margin-bottom: 155px;
  position: relative;
}
.big-form .works:after {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  background-image: url('../img/icon-plus.svg');
  content: '';
}
.big-form .line {
  margin-bottom: 60px;
  position: relative;
  height: 1px;
}
.big-form .line:before {
  content: '';
  width: 140px;
  height: 1px;
  background-color: #D7D9DD;
  left: -140px;
  top: 0;
  position: absolute;
}
.big-form .field-file {
  position: relative;
}
.big-form .field-file .img {
  position: relative;
  float: left;
}
.big-form .field-file .img:before {
  content: '';
  height: 3px;
  background-color: #0565c9;
  width: 42px;
  bottom: -8px;
  left: -8px;
  position: absolute;
}
.big-form .field-file .img:after {
  content: '';
  height: 42px;
  width: 3px;
  background-color: #0565c9;
  bottom: -8px;
  left: -8px;
  position: absolute;
}
.big-form .field-file .text {
  font-size: 12px;
  color: #323b47;
  line-height: 1.2;
  padding-left: 100px;
  padding-right: 20px;
  margin-bottom: 5px;
}
.big-form .field-file a {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 20px;
}
.progress {
  position: relative;
  text-align: center;
  font-size: 0;
  margin: 10px 0 70px 0;
  overflow: hidden;
  padding: 2px 0;
}
.progress:before {
  position: absolute;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #C0C5C9;
  left: 0;
  top: 14px;
}
.progress:after {
  display: block;
  content: '';
  width: 50%;
  height: 1px;
  background-color: #0565c9;
  position: absolute;
  top: 14px;
  left: -50px;
}
.progress.step-2:after {
  width: 50%;
  left: 0;
  padding-right: 50px;
}
.progress.step-3:after {
  width: 100%;
  left: 0;
}
.progress div {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: #C0C5C9;
  z-index: 10;
  background-color: #ffffff;
  box-sizing: content-box;
  position: relative;
}
.progress div.item-1 {
  border-left: 14px solid #ffffff;
  border-right: 8px solid #ffffff;
  margin-right: 60px;
}
.progress div.item-2 {
  border-left: 8px solid #ffffff;
  border-right: 8px solid #ffffff;
}
.progress div.item-3 {
  border-right: 14px solid #ffffff;
  border-left: 8px solid #ffffff;
  margin-left: 60px;
}
.progress div.active span {
  border-color: transparent;
  color: #0565c9;
  box-shadow: 0 0 0 2px #0565c9;
}
.progress div span {
  border: 1px solid #C0C5C9;
  display: block;
  height: 100%;
  font-size: 14px;
}
.remodal {
  max-width: 780px;
  background-color: #ffffff;
  text-align: left;
}
.remodal .remodal-header {
  margin: 0 50px 0 80px;
  height: 80px;
  line-height: 80px;
  position: relative;
}
.remodal .remodal-header h2 {
  font-weight: 600;
  font-family: 'Gotham Pro', Arial, sans-serif;
  font-size: 16px;
}
.remodal .remodal-header .remodal-close {
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  background-image: url('../img/icon-close.svg');
  border: none;
  background-color: transparent;
  margin-top: -6px;
}
.remodal .remodal-content {
  border-top: 1px solid #D7DADD;
  border-bottom: 2px solid #D7DADD;
  padding: 30px 0;
}
.remodal .remodal-content .item {
  margin-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
.remodal .remodal-content .item h3 {
  line-height: 1.1;
  position: relative;
  padding-bottom: 20px;
  font-family: 'Gotham Pro', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0565c9;
}
.remodal .remodal-content .item h3:before {
  content: '';
  width: 100px;
  height: 1px;
  background-color: #D7D9DD;
  position: absolute;
  left: 0;
  bottom: 10px;
}
.remodal .remodal-content .item a {
  display: block;
  padding: 10px 0 10px 30px;
  color: #323b47;
  background-position: 10px center;
  background-repeat: no-repeat;
  line-height: 1.1;
}
.remodal .remodal-content .item a:hover {
  background-color: #f1f7fb;
  color: #0565c9;
  background-image: url('../img/icon-add.svg');
}
.remodal .remodal-content .item a.selected {
  background-color: #0565c9;
  color: #ffffff;
  font-weight: bold;
  background-image: url('../img/icon-remove.svg');
}
.remodal .remodal-content .col-6:last-child .item {
  padding-left: 0;
  padding-right: 120px;
}
.remodal .remodal-footer {
  margin: 25px 50px 25px 80px;
}
.remodal .remodal-footer .pull-left {
  color: #323b47;
  font-weight: bold;
  font-family: 'Gotham Pro', Arial, sans-serif;
  line-height: 60px;
}
.remodal .remodal-footer .pull-right div {
  display: inline-block;
  line-height: 60px;
  font-weight: bold;
  font-family: 'Gotham Pro', Arial, sans-serif;
  margin-right: 40px;
}
.remodal .remodal-footer .pull-right div span {
  color: #0565c9;
}
.remodal .scroll {
  height: 360px;
  position: relative;
  overflow: hidden;
}
.remodal .ps-container .ps-scrollbar-y-rail {
  right: 55px;
  width: 6px;
  background-color: rgba(49, 59, 71, 0.05);
  opacity: 1;
}
.remodal .ps-container .ps-scrollbar-y-rail .ps-scrollbar-y {
  background-color: #323b47;
  opacity: 0.2;
  width: 6px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
    background-image: url('../img/bg-mobile.png');
    background-size: 100%;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  .row .col-5,
  .row .col-7 {
    width: auto;
    float: none;
  }
  .marker {
    display: inline-block;
  }
  .marker:before {
    height: 8px;
  }
  h2 .marker:before {
    height: 6px;
  }
  .header {
    padding-top: 30px;
  }
  .header img {
    display: block;
    width: 132px;
    height: auto;
  }
  .header .phone {
    display: none;
  }
  .header .pull-right {
    margin-top: 0;
  }
  .banner {
    padding: 70px 0;
  }
  .banner h1 {
    padding: 0 20px;
    margin-bottom: 70px;
  }
  .banner h4 {
    line-height: 1.5;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .about {
    margin-bottom: 50px;
  }
  .about h3 {
    margin-bottom: 20px;
  }
  .about p {
    margin-bottom: 20px;
  }
  .about .pull-right {
    margin-right: 0;
  }
  .about .col-5 {
    margin: 30px auto 0 auto;
    padding: 0 30px;
  }
  .about .col-5 img {
    position: relative;
    top: 0;
  }
  .about:after {
    right: 10px;
  }
  .features {
    margin-bottom: 60px;
  }
  .features .item {
    padding-left: 70px;
    padding-right: 10px;
  }
  .features .col-5 {
    display: none;
  }
  .call {
    margin-bottom: 60px;
  }
  .call .clear {
    margin: 0 15px;
    padding: 20px;
    text-align: center;
  }
  .call .clear p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .call .clear p br {
    display: none;
  }
  .call .clear p span {
    font-size: 14px;
    font-weight: 600;
  }
  .call .button {
    padding: 0 32px;
    display: inline-block;
  }
  .call .pull-left,
  .call .pull-right {
    float: none;
  }
  .call .pull-left:before,
  .call .pull-left:after {
    bottom: -15px;
  }
  .call .pull-right:before,
  .call .pull-right:after {
    top: -15px;
  }
  .faq {
    margin-bottom: 50px;
  }
  .faq .button {
    position: relative;
    right: inherit;
    top: inherit;
    margin-bottom: 20px;
    display: block;
  }
  .faq h2 {
    margin-bottom: 20px;
  }
  .staff h2 {
    margin-bottom: 20px;
  }
  .staff .col-1-5 {
    width: 50%;
  }
  .footer {
    margin-bottom: 30px;
    font-size: 10px;
    height: auto;
    line-height: 24px;
    position: relative;
  }
  .footer * {
    float: none;
  }
  .footer .rights {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }
  .footer .rights:before {
    display: none;
  }
  .webui-popover {
    left: 0 !important;
    width: 100% !important;
  }
  .webui-popover .webui-arrow {
    display: none;
  }
  .big-form .col-6 {
    padding: 0 10px !important;
    float: none;
    width: auto;
  }
  .big-form .col-6:last-child {
    margin-bottom: 40px;
  }
  .big-form .field {
    margin-bottom: 30px;
  }
  .big-form .field.field-input input {
    font-size: 14px;
    height: 50px;
  }
  .big-form .field.field-input label {
    font-size: 14px;
    top: 18px;
  }
  .big-form .field.field-select {
    margin-bottom: 20px;
    height: 50px;
  }
  .big-form .field.field-select .nice-select {
    height: 50px;
    line-height: 50px;
    padding-top: 4px;
    font-size: 14px;
  }
  .big-form .field.field-select .nice-select .option {
    line-height: 50px;
  }
  .big-form .field.field-checkbox label {
    font-size: 14px;
  }
  .big-form .field.field-file {
    margin-bottom: 40px;
  }
  .big-form .buttons .button {
    width: auto;
    display: block;
    padding: 0;
  }
  .big-form .buttons .button:after {
    display: none;
  }
  .big-form .works {
    padding-top: 14px;
    margin-bottom: 30px;
  }
  .big-form .line {
    display: none;
  }
  .progress:after {
    display: none;
  }
  .reason-text {
    margin-bottom: 30px;
  }
  .page-registration .info {
    width: auto;
  }
  .page-registration .banner {
    padding-bottom: 40px;
  }
  .page-registration .banner h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .page-registration .banner h1 span:before {
    height: 4px;
  }
  .remodal .remodal-header {
    margin: 0 20px;
  }
  .remodal .remodal-header h2 {
    font-size: 14px;
    line-height: 1.4;
    padding: 20px 30px 0 0;
  }
  .remodal .remodal-content {
    border-bottom: 1px solid #d7dadd;
    padding: 20px;
  }
  .remodal .remodal-content .col-6 {
    width: auto;
    float: none;
  }
  .remodal .remodal-content .col-6 .item {
    padding-left: 0;
    padding-right: 0;
  }
  .remodal .remodal-content .col-6:last-child .item {
    padding-right: 0;
  }
  .remodal .remodal-content .scroll {
    height: 280px;
  }
  .remodal .remodal-footer {
    margin: 10px 20px;
  }
  .remodal .remodal-footer .pull-left {
    display: none;
  }
  .remodal .remodal-footer .pull-right div {
    margin-right: 10px;
    line-height: normal;
  }
  .remodal .remodal-footer .pull-right .button {
    padding: 0 15px;
    height: 36px;
    line-height: 32px !important;
  }
  .remodal .ps-scrollbar-y-rail {
    display: none !important;
  }
}
