.header {
    height: 65px;
    line-height: 65px;
    background-color: #F4F7F6;
    font-size: 0;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    &__col {
        display: inline-block;
        vertical-align: middle;
    }

    &__left-side {
        width: 40%;
    }

    &__central-side {
        width: 20%;
        text-align: center;
    }

    &__right-side {
        width: 40%;
        text-align: right;
    }

    &__logo {
        display: inline-block;
        vertical-align: middle;
        width: 150px;
        height: 45px;
        background: url('http://placekitten.com/150/45') center no-repeat;
        background-size: 100%;
    }

    &__item {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;

        &_menu {
            padding: 0 15px;
            border-right: 1px solid #eee;
            font-weight: 700;
            cursor: pointer;
        }

        &_search {
            padding: 0 15px;
            cursor: pointer;
        }

        &_login {
            padding: 0 15px;
            margin-right: 0;
            transition: All .8s ease;
            text-transform: none;
        }

        &_up.open + &_login {
            margin-right: 65px;
        }

        &_up {
            position: absolute;
            right: -65px;
            width: 65px;
            text-align: center;
            background-color: #42ab9e;
            transition: All .8s ease;
            height: calc(~'100% + 1px');
            cursor: pointer;

            &.open {
                right: 0;
            }
        }
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;

        &_menu {
            background: url('@{blockPath}header/images/menu.svg') center no-repeat;
            background-size: 100%;
            margin-right: 5px;
        }

        &_search {
            background: url('@{blockPath}header/images/search.svg') center no-repeat;
            background-size: 100%;
        }

        &_up {
            background: url('@{blockPath}header/images/up.svg') center no-repeat;
            background-size: 100%;
        }
    }
}