.form-group {
    position: relative;
}

input:required {
    position: relative;
}

label + i {
    display: inline-block;
    color: red;
}

.alert {
    display: none;
}

.alert strong {
    text-transform: uppercase;
}

table.table_all-sites .header {
    text-align: center;
}

table.table_all-sites > tbody > tr > th {
    vertical-align: middle;
    text-align: center;
}

table.table_all-sites  tbody > tr > td, {
table.table_all-sites  thead > tr > th {
    text-align: center;
}


table.table_all-sites  tbody > tr > th > table th,
table.table_all-sites  tbody > tr > th > table td {
    width: 25%;
    text-align: center;
}

table.table_all-sites  tbody > tr > th > table,
table.table_all-sites  tbody > tr > td > table {
    width: 100%;
    text-align: center;
}

table.table_all-sites  tbody > tr > td > table th,
table.table_all-sites  tbody > tr > td > table td {
    width: 25%;
    text-align: center;

}
.center-align {
    text-align: center;
}

table.table_all-sites a.table-icon {
    margin-right: 3px;
    color: #000;
}

table.table_all-sites a.table-icon:hover {
    color: grey;
}

table.table_all-sites a.table-icon:last-child {
    margin-right: 0;
}