.filters {
    margin-bottom: 35px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;

    &__item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-top: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__label {
        display: block;
        position: absolute;
        top: -10px;
        font-size: 13px;
        color: #616161;;
        transition: All .5s ease;
        z-index: 31;
    }

    &__input {
        position: relative;
        background-color:#F4F7F6;
        border: none;
        height: 30px;
        font-weight: bold;

        &.active {
            box-shadow: none;
            background-color: inherit;
            border-color: #F4F7F6;
            outline: none;
            z-index: 30;
            color: #F4F7F6;
        }

        &_text {
            border-bottom: 1px solid grey;
        }
    }

    &__input.active + &__label {
        color: #F4F7F6;
    }

    &__input.active ~ &__overlay {
        opacity: .7;
        z-index: 20;
    }

    &__input.active ~ &__dropdown {
        display: block;
    }

    &__input.visible ~ &__dropdown {
        & li {
            display: block;
        }
    }

    &__overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0;
        z-index: -1;
        transition: opacity .5s ease;
    }

    &__dropdown {
        display: none;
        position: absolute;
        top: calc(~'100% + 15px');
        width: 250px;
        max-height: 350px;
        z-index: 30;
        color: #F4F7F6;

        & ul {
            margin: 0;
            padding: 0;
        }

        & li {
            display: none;
            list-style: none;
            display: block;
            padding: 10px 5px;
            border-bottom: 1px solid #F4F7F6;
            cursor: pointer;

            &:hover {
                color: #bdbdbd;
            }
        }
    }
}