.form-group {
    position: relative;
}

input:required {
    position: relative;
}

label + i {
    display: inline-block;
    color: red;
}

.center-align {
    text-align: center;
}

.alert {
    display: none;

    & strong {
        text-transform: uppercase;
    }
}

.table_all-sites {

    & .header {
        cursor: pointer;
        text-align: center;
    }

    & .table-icon {
        margin-right: 3px;
        color: #000;

        &:hover {
            color: grey;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__td {
        &_icons {
            text-align: center;
        }

        &_name {

            font-weight: 500;
        }
    }
}

/*input#tags:focus + .tags-list {
    display: block;
}*/

.tags-list {
    display: none;
    position: absolute;
    top: calc(~'100% + 10px');
    left: 0;
    padding: 10px;
    background-color: #fff;
    z-index: 9;

    & ul {
        margin: 0;
        padding: 0;

        & li {
            display: inline-block;
            vertical-align: middle;
            list-style: none;
            padding: 2px 5px;
            margin-right: 10px;
            font-size: 14px;
            border-radius: 3px;
            background-color: #eee;
            cursor: pointer;
            white-space: nowrap;

            &.add {
                background-color: #a9a9a9;
                color: #fff;
            }
        }
    }
}

/*.tags-search-result {
    position: absolute;
    top: 25px;
    left: 10px;
    background-color: rgba(122,122,122, 0.4);
    height: 33px;
    width: calc(~'100% - 20px');
}*/